.address {
  margin: 0 70px 0 0;

  &__full {
    margin-top: 20px;
  }

  &__place {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    display: block;
    /* or 171% */
    text-decoration: none;
    letter-spacing: 0.03em;

    color: getColor('footer-adress');
    font-style: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: getColor('primary');
      outline: none;
    }
  }

  &__mail-phone {
    display: block;
    font-style: normal;
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    text-decoration: none;
    color: getColor('footer-adress');
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: getColor('primary');
      outline: none;
    }
  }
}
