.footer-style {
  background: var(--footer-background);
  padding: 60px 0;
}

.footer-div-1 {
  margin: 0 70px 0 0;
}
.footer-adress-full {
  margin-top: 20px;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  display: block;
  /* or 171% */
  text-decoration: none;
  letter-spacing: 0.03em;

  color: var(--footer-adress-color);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress:focus,
.footer-adress:hover {
  color: var(--primary-color);
  outline: none;
}

.footer-mail {
  display: block;
  font-style: normal;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-adress);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:focus,
.footer-mail:hover {
  color: var(--primary-color);
  outline: none;
}

.footer-telephone {
  display: block;
  text-decoration: none;
  font-style: normal;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-adress);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-telephone:focus,
.footer-telephone:hover {
  color: var(--primary-color);
  outline: none;
}

.footer-join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--portfolio-buttons-text-hover-color);
}

.footer-div-form {
  margin: 0 0 0 78px;
}

.footer-newsletter-form {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.footer-newsletter-form > input {
  margin: 0;
  padding: 13px;
  width: 358px;
  height: 50px;
  background: none;
  border: 1px solid var(--footer-input-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--background);
}
