.portfolio-item-array {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio-item {
  border-bottom: 1px solid getColor('portfolio-card-border');
  background-color: getColor('section-2-bg-color');

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
    .portfolio-item__rolling-text {
      transform: translateY(0);
    }
  }

  &__image-frame {
    overflow: hidden;
    width: 100%;
    display: block;
    position: relative;
  }

  &__rolling-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms ease;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    position: absolute;
    color: #ffffff;
    padding: 49px 24px;
  }

  &__rolling-text > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    letter-spacing: 0.03em;
    position: absolute;
    color: #ffffff;
  }

  &__header {
    border-left: 1px solid getColor('portfolio-card-border');
    border-right: 1px solid getColor('portfolio-card-border');
    margin: 0;
    padding: 20px 24px 0 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__comment {
    border-left: 1px solid getColor('portfolio-card-border');
    border-right: 1px solid getColor('portfolio-card-border');
    margin: 0;
    padding: 4px 24px 20px 24px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: getColor('our-team-member-position-text-color');
  }
}
