.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;

  &__icon {
    display: block;
    border-radius: 50%;
    background-color: var(--background);
    fill: var(--social-links-color);
    transition-property: background-color fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:focus > &__icon,
  &__link:hover > &__icon {
    background-color: var(--primary-color);
    fill: var(--background);
    outline: none;
    cursor: pointer;
  }
}

.social-links--footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links__icon--color {
  fill: var(--background);
  background-color: var(--footer-social-links-bg);
}
